body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
#featured-property figure{
  text-align: center;
}
nav a {
  background-color: #cad100;
  padding-left: 10px;
  padding-right: 10px;
}
figcaption {
  font-size: 10px;
}
#featured-property p {
  width:800px;
  text-align: center;
  margin: 0 auto;
}
#details {
  margin-top: 20px;
}
#details div{
  display: block; 
  float: left;
  background-color: #976eff;
  width: 25%;
  text-align: center;
}